.card {
    border: 1px solid #ddd;
    padding: 26px;
    border-radius: 8px;
    margin: 16px;
    height: 220px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  