.mainFooter{
  /* margin: auto; */

}
.contact-main {
  width: 1328px;
  height: 500px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
  margin-top: 20px;
  /* padding-top: 50px; */
  display: flex;
  padding: 20px;
  padding-left: 70px;
  gap: 40px;
  color: #312323;

}
.cardProject{
  max-width: 600px;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border: 1px solid #d6d1d1;
  border-radius: 20px;
  padding-top: 80px;
  line-height: 40px;

}
.cardProject a{
  text-decoration: none;
}
.cardForm{
  width: 500px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #d6d1d1;

}

.footer {
  width: 100%;
  color: #fff;
  height: 120px;
  background-color: rgb(49, 47, 47);
}
