.mainFooter{
  /* margin: auto; */

}
.contact-main {
  width: 98.5%;
  height: 500px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
  margin-top: 30px;
  /* padding-top: 50px; */
  display: flex;
  padding: 20px;
  padding-left: 70px;
  gap: 40px;
  color: #312323;
  font-weight: normal;

}
.cardProject{
  max-width: 600px;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border: 1px solid #d6d1d1;
  border-radius: 20px;
  padding-top: 80px;
  line-height: 40px;
  font-size: 15px;


}
.cardProject h2,h3{
  font-weight: normal;

}
.cardProject a{
  text-decoration: none;
}
.cardForm{
  width: 500px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #d6d1d1;

}
.footer{
  width: 100%;
  height: auto;
  color: #fff;
  background-color: #0c1016;
  text-align: center;
}
.social_link{
 padding-top: 10px;
  display: flex;
  justify-content: center;
  font-weight: normal;


}
.social_link a{
  text-decoration: none;
  color: #fff;
  padding: 10px 20px 10px ;

}
.social_link a:hover{
  /* padding: 10px; */
border: 1px solid #fff;
padding: 10px;
border-radius: 10px;

}
.subFooter{
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
.contact-main{
  margin: 5px;
  max-width: 310px;
  min-width: 350px;
  max-height: auto;
  flex-direction: column;
  padding: 5px;
  padding-left: 0px;
  gap: 10px;
  margin: 5px;
  font-size: 12px;

}  

.cardProject{
  max-width: 450px;
  min-width: 300px;
  margin: 5px;
  padding: 15px;
  padding-top: 10px;
  line-height: 25px;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 20px;

}
.cardProject h2{
  font-size: 12px;
}
.cardProject h3{
  font-size: 12px;
}
.cardForm{
  max-width: 330px;
  margin: 5px;
  padding: 10px;
  margin-left: 10px;

}
.social_link{
  flex-direction: column;
}
.subFooter{
  margin-top: 10px;
  font-weight: normal;
  font-size: 10px;
  padding-bottom: 10px;
}
}

