.profile {
  width: 100%;
  padding: 10px;
  padding-top: 60px;
  /* margin: 10px; */
  margin: auto;
  margin: 10px;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 10px;
    background-color: rgb(220, 220, 240);
  transition: box-shadow 0.3s ease-in-out;
  background: linear-gradient(135deg, #4203a9, #90bafc);

}
.flexContainer{
  display: flex;

}

.textProfile {
  color: #fff;
  max-height: 350px;
  max-width: 60vw;
  font-size: 30px;
  padding: 50px;
  padding-left: 100px;
  transition: color 0.5s ease-in-out, font-size 0.3s ease-in-out;
}

.textProfile h3 {
  color: #fff;
  transition: color 0.5s ease-in-out, font-size 0.3s ease-in-out;
}
.textProfile h3:hover {
  color: #00bcd4; /* Change to the desired hover color */
  font-size: 36px; /* Change to the desired hover font size */
}

.textProfile span {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 1s ease 1s forwards, bounceText 1s ease infinite;
  color: rgb(241, 241, 110);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}




.textProfile h3 {
  color: rgb(220, 245, 220);
  font-weight: 700;
  font-size: 25px;
}
.ImgProfile{
  max-height: 350px;
  margin-left: 200px;


}
.ImgProfile img{
  width: 250px;
  border-radius: 100%;
}
.ImgProfile img:hover{
  border-radius: 10px;
}
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  width: 120px;
  height: 100px;
  margin: 15px;
  border-radius: 10px;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.links {
  margin-top: 20px;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.links a {
  text-decoration: none;
  color: rgb(248, 238, 238); /* Set the default color */
  transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.links a:hover {
  color: #00bcd4; /* Change to the desired hover color */
  
}

.links i {
  font-size: 24px;
}
.links li i{
  font-size: 30px;
}
.links li i:hover{
  font-size: 40px;


}

/* Additional styling for the 'before' and 'after' hover effect */
.links a::before,
.links a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #00bcd4; /* Change to the desired hover color */
  transition: width 0.3s ease-in-out;
}

.links a:hover::before {
  width: 100%;
}

.links a:hover::after {
  width: 100%;
}

