body {
    font-family: 'poppins', sans-serif;
}

.homepage {
    /* background-color: red; */
    /* margin-top: 30px; */
    background: linear-gradient(135deg, #4203a9, #90bafc);
    /* color: #fff; */
    overflow: hidden;

}


.profile {
    padding: 50px;
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: autoz;
    
}

.profile-text {
    padding: 35px;
    width: 60vw;
    margin-top: 55px;
}

.profile-text h1 {
    font-size: 60px;
}

.profile-text h2 {
    color: #ffff76;
    font-size: 60px;
}

.profile-text p {
    font-family: 'poppins', sans-serif;
    color: #0ef;
    font-size: 35px;
    font-style: italic;
}

.profile-image {
    padding-top: 70px;
}
.links{
    gap: 20px;
}
.links i:hover{
    padding: 5px;
    color: #0ef;
    border-radius: 20px;
}

.profile-image img {
    width: 300px;
    border-radius: 100%;
}


.btn {
    padding: 10px 25px;
    margin-top: 26px;
    font-size: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover {
    color: #fff;
    background-color: #01060a;
}

.cv-button {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.cv-button:hover {
    color: #fff;
    background-color: #01060a;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-top: 25px;
    flex-wrap: wrap;
    margin-right: 30px;
}

.skills {
    padding: 10px 20px;
}

.skills img {
    width: 50px;
    border-radius: 10px;

}
span {
    color: aqua;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link:hover {
    color: #0ef;
    
    /* background-color: #fff; */
}
footer p{
    text-align: center;
    margin-top: 170px;
    width: 100%;
    padding: 20px;
    right: 0%;
    position: absolute;
    color: #fff;
    background-color: black;
}
@media screen and (max-width:768px){
    .profile{
        flex-direction: column-reverse;
            align-items: center;

    }
    .home{
        min-width: 00px

    }
    .profile-image{
        margin-right: 100px;
    }
    .profile-image img{
        width: 150px;
    }
    .profile-text {
        padding: 0px;
        width: 100vw;
        margin-top: 15px;
        line-height: 30px;
    }
    
    .profile-text h1 {
        font-size: 25px;
    }
    
    .profile-text h2 {
        color: #ffff76;
        font-size: 20px;
    }
    
    .profile-text p {
        font-family: 'poppins', sans-serif;
        color: #0ef;
        font-size: 20px;
        font-style: normal;
    }
    .links{
        position: absolute;
        top: 25%;
        left: -60%;
    }
    .btn {
    padding: 10px 15px;
    margin-top: 6px;
    font-size: 10px;
    border-radius: 20px;
    margin-left: 0px;
   
}



.cv-button {
    padding: 10px 5px;
    font-size: 10px;
   
}

footer p{
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    right: 0%;
    position: absolute;
    color: #fff;
    background-color: black;
}

    
  
    
}