* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;

  }
  
body{
    /* margin-top: 40px; */
    /* background: linear-gradient(135deg,#4203a9,#90bafc); */
    /* color: #fff; */
}

.container {
    margin: auto;
    max-width: 1370px;
    align-items: center;
    /* background-color: red; */
}

.logo {
    margin-left: 50px;
}

ul {
    margin-right: 60px;
    display: flex;
}

li {
    list-style: none;
    padding: 10px 10px;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(17, 16, 16);

}

.flex {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
   
}
.logo-nav img{
  width: 100px;
  background-color: blue;
  margin-left: 56px;
  border-radius: 10px;
  margin-top: 5px;
  /* margin-top: 20px; */
}

.main_nav {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 100;
    background-color: #1f242d;

    
}
.container-section {
  max-width: 1370px;
  margin: auto;

}
section {
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #1f242d; */
  /* color: #fff; */
  /* font-size: 100px; */
  font-weight: 700;
}
section:nth-child(even) {
  /* background-color: #323946; */
}
.hover-link:hover{
  color: #0ef;
  /* background-color: #fff; */
}


.toggleButton{
    display: none;
}
@media (max-width: 768px) {
    .nav .toggleButton {
      display: block; 
      color: #fff;
    }
     .toggleButton {
    margin-right: 20px;
    font-size: 20px;
    background-color: black;
    border: 2px solid black;
    border: none;
    }
    
    .list{
      display: none;
    }
    a{
      color: black;
    }
  ul {
    position: absolute;
    right: -20%;
    top: 110%;
    font-size: 10px;
    flex-direction: column;
  }
  a{
    color: #fff;

  }
    .nav.open .list {
      display: flex; 
    }
    .logo-nav img{
      width:80px;
      margin-right: 110px;
      /* margin-top: 20px; */
    }
    
  }

